<h1>
    v 2.0.3
</h1>
<div style="padding:20px">
    <a href="https://github.com/zonblade/php-view-source-protection/releases"> download source code <b>on github</b></a><br>
    <a href="?about="> <b>Sample Code</b></a>, <a href="?clean="> <b>Sample Clean Viewsource</b></a>
</div>
<pre style="padding:20px;">
<span style="font-size:1.3rem">
# tested
</span>
Chrome, IE, Opera, Firefox, Edge, most of modern browser<br>
viewsource clean.<br>

<span style="font-size:1.3rem">
# DEVS
</span>
Agung ND
</pre>

